<template>
  <div>
    <div>
        <h1>Login</h1>
    </div>
  </div>
</template>

<script>
export default {
    data() {
        return {
            
        }
    },
    created() {
        
    },
    methods: {
        
    },
}
</script>

<style scoped>

</style>